<% include ./partials/header %>
  <div class="ui  container">
<!--<h3 id="newCampgrounds">Enter new campgrounds</h3>-->


<div class="ui main text container segment">
    <div class="ui huge header">login form</div>
    
    
<form  action="/login" method="POST" class="ui form">
    
        <div class="fields">
            <div class="eight wide field">
                <label>User Name</label>
                <input type="text" name="username" placeholder="user name">
            </div>
        </div>
        
        <div class="fields">
            <div class="eight wide field">
                <label> Password</label>
                <input type="password" name="password" placeholder="password" required>
            </div>
        </div>
      
    <button class="ui inverted green button ">Login</button>
    <div class="content1">
        <a href="#">Forget Password?</a>
    </div>
</form>
</div>
</div>

<% include ./partials/footer %>