<% include ./partials/header %>

<div class="row"> 
  <div class="col-md-4">  
     <div class="img-thumbnail">
       <h1><%= user.firstName+" " + user.lastName %></h1>
       <img src="<%= user.avatar %>">
      </div>
  </div>
  <div class="col-md-8">
     
      
  </div>
    
</div>
        



<% include ./partials/footer %>