<% include ./partials/header %>
  <div class="ui  container">
<!--<h3 id="newCampgrounds">Enter new campgrounds</h3>-->

<div class="ui main text container segment">
    <div class="ui huge header">Signup form</div>
    
    
<form  action="/register" method="POST" class="ui form">
    
        <div class="fields">
            <div class="eight wide field">
                <label>User Name</label>
                <input type="text" name="username" placeholder="user name" required>
            </div>
        </div>
        
        <div class="fields">
            <div class="eight wide field">
                <label> Password</label>
                <input type="password" name="password" placeholder="password" required>
            </div>
        </div>
         <div class="fields">
            <div class="eight wide field">
                <label>First Name</label>
                <input type="text" name="firstName" placeholder="first name" required>
            </div>
        </div>
         <div class="fields">
            <div class="eight wide field">
                <label>Last Name</label>
                <input type="text" name="lastName" placeholder="last name" required>
            </div>
        </div>
         <div class="fields">
            <div class="eight wide field">
                <label>Email</label>
                <input type="email" name="email" placeholder="email" required>
            </div>
        </div>
         <div class="fields">
            <div class="eight wide field">
                <label>Profile Image</label>
                <input type="text" name="avatar" placeholder="avatar">
            </div>
        </div>
        
      
    <button class="ui inverted green button ">Signup</button>
</form>
</div>
</div>

<% include ./partials/footer %>